{{ define "main" }}

<div class="all">
    <img src="/images/otm.png" alt="otmane el majid">
    <div class="tex">

        <h1> نبدة عني </h1>
        <p>
            عتمان المجيد مبرمج تطبيقات مقاول و محب للمعرفة
            شغف بعدة مجالات سأكتب عليها هنا من التيكنولوجي والشركات الناشئة الى علم الفلك و العلوم الهامشية
            الى الديانات والتاريخ الى القصص [مانغا] والروايات
            == من كل فن طرب


            <br>
            <br>
            في المجال العملي
            في 2018 ، بدأت رحلتي مع تطوير تطبيقات
            بدأت بألعاب الموبيل باليوتنيتي 3دي
            في العام الموالي انتقلت الى الفلاتر وعملت كفريلانسر في مشروع بسيط بعدها دخلت شركة تطوير لمدة قصيرة
            لأرجع لعالم الفريلانس عبر موقع فايفر بعدها انتقلت لمواقع اخرى وبقيت في العمل الحر
            <br><br>
            في 2022 بدأت اول خطوة في المقاولة بأول فكرة موقع وتطبيق لي بفريق عمل
            كانت عندي تطبيقات ومواقع شخصية اخرى قبل هدا ،
            <br><br>
            في عام 2023 بدأت رحلة اخرى واكتب في هدا الموقع لكي يستفيد اي شخص عربي عنده شغف عالم المقاولة وريادة الأعمال
            <br><br>
            اتمنى ان يستفيد من يقرأ المقالات منها وشكر خاص لبول غراهام الدي استوحيت منه تصميم الموقع على بساطته
        </p>

        <div class="social">
            <a href="https://www.instagram.com/otmaneelmajid">
                <i style="font-size: 36px !important;color: black;" class='bx bxl-instagram'></i>
            </a>
            <a href="https://www.linkedin.com/in/otmaneelmajid/">
                <i style="font-size: 36px !important;color: #0a66c2;" class='bx bxl-linkedin'></i>
            </a>
        </div>
    </div>
</div>


<style>
    .all {
        margin-left: 120px;
        padding-top: 100px;
        float: right;

    }

    .tex {
        width: 450px;
    }

    h1 {
        margin: 35px 20px;
        color: #834c4c;
        float: right;
    }

    img {
        width: 100;
        height: 100;
        margin-right: 15px;
        border-radius: 100%;

        float: right;
    }

    p {
        float: right;
        text-align: right;
        font-size: 15px;
    }

    .social {
        list-style: none;
        display: flex;
    }

    .social a {
        margin-right: 15px;
        color: black;
    }

    .social a:hover {
        color: black;
    }
</style>
{{ end }}