{{ define "main" }}

<div class="main">

    <img src='images/home.png' class="myimg" />

    <table width="410" cellspacing="0">
        <tbody>
            <tr>
                <td class="table1">
                    <b> New:</b>
                    <a style="color:maroon" href="">Coming soon | </a>

                </td>

            </tr>
        </tbody>
    </table>
    <table width="410" cellspacing="0">
        <tbody>
            <tr>
                <td class="table2">
                    <b> ddds:</b>

                    <a style="color:maroon" href="">Coming soon | </a>
                    <!-- <a style="color:maroon" href="realdd.html">ddd | </a>
                         <a style="color:maroon" href="wanddt.html">dd | </a>
                         <a style="color:maroon" href="alieddn.html">ddd | </a> -->
                </td>

            </tr>
        </tbody>
    </table>

</div>
<p class="credit">
    @Credit to my man Paul ,
    Inspired from his amazing blog
</p>


<style>
    .myimg {
        width: 410px;
        height: 400px;
        object-fit: cover;
        border-radius: 20px;
        margin: 100px 0;
    }

    .main {
        width: 200px;
        margin-right: 7%;
        float: right;
    }

    .credit {
        position: absolute;
        bottom: 0px;
        right: 0;
        color: #dddddd;
        font-size: 12px;
    }

    .table2 {
        background-color: #ff9922;
        display: flex;

    }

    .table1 {
        background-color: #ffcc33;
        display: flex;

    }



    @media only screen and (max-width: 600px) {

        .leftside {
            width: 95% !important;
            background-color: white !important;
        }

        a {
            color: #510404 !important;
        }

        .s33 {
            border: none;
        }

        table tr>* {
            display: block;
        }

        table tr {
            display: table-cell;
            vertical-align: top;

        }

        table tr a {
            float: none !important;
        }

        .main {
            width: 200px;
            margin: 0 15px !important;
        }

        .myimg {
            width: 300px;
            height: 300px;
            margin: 20px 0;

        }

        .table2 {
            background-color: #ff9922;
            display: flex;
            width: 200px;

        }

        .table1 {
            background-color: #ffcc33;
            display: flex;
            width: 200px;

        }

    }
</style>
{{ end }}