{{ define "main" }}

<div class="main">

    <br><br><br><br>
    <img src='images/home.png' style="width: 410px;height: 400px;object-fit: cover;border-radius: 20px;" />
    <br><br><br>
    <table width="410" cellspacing="0">
        <tbody>
            <tr>
                <td class="table1">
                    <b> New:</b>
                    <a style="color:maroon" href="">Coming soon | </a>

                </td>

            </tr>
        </tbody>
    </table>
    <table width="410" cellspacing="0">
        <tbody>
            <tr>
                <td class="table2">
                    <b> ddds:</b>

                    <a style="color:maroon" href="">Coming soon | </a>
                    <!-- <a style="color:maroon" href="realdd.html">ddd | </a>
                         <a style="color:maroon" href="wanddt.html">dd | </a>
                         <a style="color:maroon" href="alieddn.html">ddd | </a> -->
                </td>

            </tr>
        </tbody>
    </table>

</div>
<p class="credit">
    @Credit to my man Paul ,
    Inspired from his amazing blog
</p>


<style>
    .main {
        width: 200px;
        margin-right: 7%;
        float: right;
    }

    .credit {
        position: absolute;
        bottom: 0px;
        right: 0;
        color: #dddddd;
        font-size: 12px;
    }

    .table2 {
        background-color: #ff9922;
        display: flex;
    }

    .table1 {
        background-color: #ffcc33;
        display: flex;
    }
</style>
{{ end }}