{{ define "main" }}

<div class="all">
     <h1>تخيل</h1>
     <br>

     <table class="body">

          {{.Content}}
          {{ range .Pages }}
          <tr>
               <ul>
                    <td>


                         <a style="color: black;" href="{{.RelPermalink}}">

                              <li>{{.Title}} </li>
                         </a>
                    </td>
               </ul>
          </tr>
          {{ end }}
     </table>



     <style>
          .all {
               /* margin-left: 120px; */
               padding-top: 50px;

          }

          h1 {
               margin: 0 10% 0 0;
               color: #834c4c;
          }
     </style>
     {{ end }}