{{ define "main" }}



<div class="all">
    <h1>Quotes</h1>
    <br>
    <h3>
        “Stop acting so small. You are the universe in ecstatic motion.”
    </h3>
    <h5>- Jalal Ad-Din Rumi-</h5>
    <br>
    <h3>

        “Knock, And He'll open the door
        Vanish, And He'll make you shine like the sun
        Fall, And He'll raise you to the heavens
        Become nothing, And He'll turn you into everything.”

    </h3>
    <h5>- Jalal Ad-Din Rumi-</h5>
    <br>
    <h3>
        Be the change that you wish to see in the world.”
    </h3>
    <h5>- by Mahatma Gandhi -</h5>
</div>


<style>
    .all {
        margin-left: 120px;
        padding-top: 50px;
        width: 67%;
    }

    h1 {
        margin: 0;
        color: #834c4c;
    }
</style>
{{ end }}