{{ define "main" }}



<div class="all">
    <h1>Quotes</h1>
    <br>
    <h3>
        أيها الشاب لا تغتر بشبابك فأكتر الناس موتا الشبااب والدليل على دلك قلة الشيوخ”
    </h3>
    <h5>- -</h5>
    <br>
    <h3>
        تخيل الحياة لعبة من 5 كرات تتلاعب بها في الهواء محاولاً ألا تقع أي منها على الأرض.. هذه الكرات الخمس هي العمل
        والعائلة والصحة والأصدقاء والروح.. ولن يطول بك الحال قبل أن تدرك أن العمل عبارة عن كرة مطاطية كلما وقعت قفزت مرة
        أخرى، بينما الكرات الأخرى مصنوعة من زجاج > إذا سقطت إحداها فلن تعود إلى سابق عهدها ستصبح إما معطوبة أو مجروحة أو
        مشروخة أو حتى متناثرة.. عليك أن تعي ذلك وأن تجاهد في سبيله
    </h3>
    <h5>- -</h5>
    <br>
    <h3>
        تظهر جولة عابرة في مستشفى المجانين أن الاعتقاد لا يثبت شيئاً. فريدريش
    </h3>
    <h5>- -</h5>
    <br>
    <h3>
        لا يوجد وهم يبدو كانه حقيقة متل الحب
        ولا حقيقة نتعامل معها كانها وهم متل الموت

    </h3>
    <h5>- الدكتور مصطفى محمود -</h5>
    <br>
    <h2>انجليزي يا مرسي</h2>
    <h3>
        “Stop acting so small. You are the universe in ecstatic motion.”
    </h3>
    <h5>- Jalal Ad-Din Rumi-</h5>
    <br>
    <h3>

        “Knock, And He'll open the door
        Vanish, And He'll make you shine like the sun
        Fall, And He'll raise you to the heavens
        Become nothing, And He'll turn you into everything.”

    </h3>
    <h5>- Jalal Ad-Din Rumi-</h5>
    <br>
    <h3>
        Be the change that you wish to see in the world.”
    </h3>
    <h5>- by Mahatma Gandhi -</h5>
    <br>
    <h3>
        He would rather die here than suffer all kinds of humiliation then.”
    </h3>
    <h5>- by Mahatma Gandhi -</h5>
    <h5>- Jalal Ad-Din Rumi-</h5>
    <!-- <h1>Not so Great Quotes</h1>
    <br>
    <h3>
        "Surprise Motherfucker"
    </h3>
    <h5>- by James Doakes -</h5>
    <br>
    <h3>
        See You In Another Life Brotha.”
    </h3>
    <h5>- by desmond -</h5> -->
</div>


<style>
    .all {
        margin-left: 120px;
        padding-top: 50px;
        width: 67%;
    }

    h1 {
        margin: 0;
        color: #834c4c;
    }
</style>
{{ end }}