{{ define "main" }}
<div class="all">
     <h2>{{.Title}}</h2>
     <br>


     <div style="color:grey; font-size:12px;margin-top: 30px;">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
     <div style="font-size:18px;">{{.Content}}</div>
     <div style="color:grey; font-size:12px;margin-top: 30px;">{{ .Params.author }}</div>
</div>


<style>
     .all {
          margin-right: 6%;
          padding-top: 70px;
          width: 35%;
          float: right;
          text-align: right;
          margin-bottom: 100px;
     }

     h2 {
          margin: 0;
          color: #834c4c;
     }


     @media only screen and (max-width: 600px) {
          .leftside {
               width: 95% !important;
               position: absolute;
               top: 3%;
          }

          .all {
               margin-right: 6%;
               padding-top: 15px;
               width: 90%;
               float: right;
               text-align: right;
               margin-bottom: 100px;
          }

          h2 {

               font-size: 26px !important;
               font-weight: bold;
          }

          table tr>* {
               display: block;
          }

          table tr {
               display: table-cell;
               vertical-align: top;
          }

          table tr a {
               float: none !important;
          }
     }
</style>
{{ end }}