{{ define "main" }}
<div class="all">
     <h2>{{.Title}}</h2>
     <br>


     <div style="color:grey; font-size:16px;">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
     <div style="font-size:18px;">{{.Content}}</div>
</div>


<style>
     .all {
          margin-right: 6%;
          padding-top: 70px;
          width: 35%;
          float: right;
          text-align: right;
          margin-bottom: 100px;
     }

     h2 {
          margin: 0;
          color: #834c4c;
     }
</style>
{{ end }}